# ==========================
# Python 相关（必加）
# ==========================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.pyc
*.pyo
*.pyd
.venv/

# 虚拟环境
.conda/
condaenv/

# 日志文件
logs/
log/
*.log
debug.log
error.log

# 模型文件 / 缓存
*.bin
*.pth
*.pkl
*.h5
*.model
*.onnx
*.cache
.cache/

# ==========================
# 前端 / 静态文件
# ==========================
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
build/
*.tmp

# ==========================
# Linux / Kylin V10 系统文件
# ==========================
*~
.DS_Store
.directory
.Trash-*
lost+found/

# ==========================
# IDE 编辑器配置（VSCode / PyCharm）
# ==========================
.idea/
.vscode/
*.swp
*.swo
*~
*.project
*.iml

# ==========================
# 系统临时文件
# ==========================
*.tmp
*.temp
*.bak
